*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F9F1E9;
  font-family: "Archivo", sans-serif;
}
/* Navbar CSS */
.navBar{
  margin-top: 1rem;
  overflow: hidden;
  background-color: transparent;
}
.sticky {
  position: fixed;
  top: 0;
}
.left-navbar, .right-navbar{
  display: flex;
  justify-content: space-around;
}
a{
  color: #392A2A;
}
.logo img{
  height: 4vw;
  width: 4vw;
}
p{
  margin: 0;
}

/* Content CSS */
.main-foto img{
  height: 25vw;
  width: 25vw;
}
.main-content{
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 3rem;
}
.details-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.harga{
  font-size: clamp(15px, 3vw, 25px);
  color: rgb(133, 6, 6);
}
.description{
  width: 25vw;
}


/* buttons css */
.third-line{
  display: flex;
  gap: 3rem;
}
.plus-minus{
  display: flex;
  gap: 2rem;
  border: 1px solid #392A2A;
  width: fit-content;
}
.showNumber{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.plus-minus button{
  background-color: #392A2A;
  color: white;
  padding: 5px 10px;
  outline: none;
  border: none;
}
.addToCart button{
  background-color: #392A2A;
  outline: none;
  border: none;
}
.fa-cart-shopping{
  margin-right: 1rem;
}

/* Reviews css */
.secondary-content{
  margin-left: 48px;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
.review-title{
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: clamp(16px, 3vw, 24px);

}
.user-profile img{
  width: 2.5vw;
  height: 2.5vw;
  margin-right: 0.5rem;
}
.user-name{
  font-size: clamp(8px, 2.5vw, 12px);
}
.user-comment{
  width: 18vw;
  font-size: clamp(8px,2vw,12px);
}
.review1,.review2,.review3{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}